.diagonal-box {
  background-image: linear-gradient(#B4A7E2, #B4A7E2);
  transform: skewY(-25deg);
  height: 30em
}
.content {
  background-image: asset-url('tv.png');
  background-repeat: no-repeat;
	max-width: 100%;
  margin: 20% auto;
  transform: skewY(25deg);
  height: 100%
}

