

<div class="row">
  <div class="col-md-12 text-center">
    <div data-controller="search">
      Voici le film choisi :
        <%=  @choosed_movie.title %>
    </div>
    <div class="p-2 mt-5">
      <%= link_to "Choisir un autre film", choose_movie_path, class: "btn btn-lg btn-primary" %>
      </div>
    <div class="p-2 mt-5">
      <%= link_to "Retour", root_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>

