<div class="row">
  <div class="col-md-12 text-center">
    <div data-controller="search">
      <input data-search-target="title" type="text">
        <button data-action="click->search#movie" class="btn btn-primary p-2 mt-2" data-search-key-param="<%=ENV['IMDB_KEY_API']%>" >Recherche</button>
    </div>
    <div class="col-md-12 text-center">
      <ul id="results" class="list-inline pt-5"></ul>
    </div>
  </div>
</div>
