    <nav>
      <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
          <div class="logo">
            <h1>Clicknmovie</h1>
          </div>
          <div class="menu-items">

            <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
          </div>
        </div>
      </div>
    </nav>
