<div class="text-center">

  <% if current_user %>
    <div class="p-2 mt-5">
      <%= link_to "Voir ma liste de films", wishlist_path(current_user), class: "btn  btn-lg btn-primary" %><br>
    </div>

    <div class="p-2 mt-5">
      <%= link_to "Ajouter un film", search_movie_path, class: "btn btn-lg btn-primary" %>
    </div>
  <% else %>
    <div class="p-2 mt-5">
      <%= link_to "Connexion", new_user_session_path, class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>

</div>

