/* ------- customize primary button color -------- */
$mynewcolor: #644195;
$border-radius: 20px;
$backgroundcolor: white;

.btn-primary {
  @include button-variant(
    // background
    $mynewcolor,
    // border
    $mynewcolor,
    // text
    $backgroundcolor,
    // backgroung colo when clicked
    $backgroundcolor,
    // ??
    $mynewcolor,
    //
    $mynewcolor);
  @include border-radius($border-radius, 0);
}
