<div class="row banner-succes">
  <div class="col-md-12 text-center">
    <% if @user.movies.empty? %>
      Aucun film dans ta liste <br>
      <div class="p-2 mt-5">
        <%= link_to "Ajouter un film", search_movie_path, class: "btn btn-lg btn-primary" %>
      </div>
    <% else%>
      <div class="p-2 mt-5">
        <% @user.movies.each do |movie|%>
            <h3> <%= movie.title %> <h3> <br>
            <%= image_tag movie.url_image, size: "260x380" %> <br>
        <% end %>
      </div>
      <%= link_to "Retour", root_path, :class => "btn btn-lg btn-primary" %><br>
    <% end %>

  </div>
</div>

