<div class="row">
  <div class="col-md-12 text-center">
    <% if @user.movies.empty? %>
      Aucun film dans ta liste <br>
    <% else%>
      <% @user.movies.each do |user_movie|%>
        <%= user_movie.title %> <br>
      <% end %>
    <% end %>

    <%= link_to "Retour", root_path, :class => "btn btn-lg btn-primary" %><br>
    </div>
</div>

